[defaults]
roles_path = ./roles
library = ./library
module_utils = ./module_utils
filter_plugins = ./filter_plugins
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
display_args_to_stdout = False
fact_caching = memory
forks = 5

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
