add table inet pg_ha
flush table inet pg_ha
table inet pg_ha {
  chain input {
    type filter hook input priority 10; policy drop;
    iifname "lo" accept
    ct state invalid drop
    ct state established,related accept
    meta l4proto icmp accept
    meta l4proto ipv6-icmp accept
    udp sport 67 udp dport 68 accept
    udp sport 547 udp dport 546 accept
    ip saddr { {{ platform_ssh_cidrs | join(', ') }} } tcp dport 22 accept
    ip saddr { {{ groups['postgres_cluster'] | map('extract', hostvars, ['node', 'address']) | join(', ') }} } tcp dport { {{ [platform_ports.postgres, platform_ports.pgbouncer, platform_ports.patroni, platform_ports.etcd_client, platform_ports.etcd_peer, platform_ports.backup] | join(', ') }} } accept
    ip saddr { {{ groups['routers'] | map('extract', hostvars, ['node', 'address']) | join(', ') }} } ip protocol 112 accept
    ip saddr { {{ platform_client_cidrs | join(', ') }} } tcp dport { {{ platform_ports.write }}, {{ platform_ports.read }} } accept
  }
}
